# 忽略所有以.log为后缀的文件
*.log

# 忽略所有以.a为后缀的文件
*.a

# 但不忽略lib.a这个特定文件
!lib.a

# 仅忽略TODO目录下的文件，但不忽略TODO目录下子目录里的文件
# 斜线（/）在前表示防止递归
/TODO

# 忽略build/ 目录下的所有文件，包括子目录里的文件
build/

# 忽略形如doc/notes.txt这样的文件,但不忽略形如doc/server/arch.txt这样的文件
doc/*.txt

#忽略doc目录包括子目录下的所有的.pdf	文件
doc/**/*.pdf
